.flex {
  display: flex !important;
}

.flex-wrap{
  flex-wrap: wrap;
}

.gap{
  gap: 1rem;
}

.p-1{
  padding: 1rem;
}

.flex-column {
  display: flex !important;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.list-none{
  list-style: none;
}

.shadow{
  box-shadow: 0 2px 5px 2px rgb(209, 209, 209);
}

.justify{
  justify-content: space-between;
  align-items: center;
}